// Labaz
$black: #000;
$white: #fff;

// Primary
$rich:     #00171f;
$prussian: #003459;
$cgblue:   #007EA7;
$carolina: #00A8E8;

// Secondary
$athens: #fbfbfc;
$athens-opacity-90: rgba($athens, .9);

// Shadows
$shadow-big: 0 3px 6px rgba(11, 33, 74, .09), 0 -2px 2px rgba(11, 33, 74, .03);
$shadow-small: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);

// Gradients
$chrome: linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335);
$firefox: linear-gradient(-120deg, #0095dd, #00539f, #e66000, #ff9500, #ffcb00);

// Social networks
$facebook: #3b5999;
$twitter: #55acee;
$googleplus: #dd4b39;
$linkedin: #0077b5;
