::selection {
  background: $black;
  color: $white;
}

body {
  background-color: $athens;
  font-size: 1.7rem;

  &.noscroll {
    overflow: hidden;
  }
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: padding-left .25s;

  .footer {
    margin-top: auto;
  }

  &.with-sidebar {
    padding-left: 280px;
  }
}

// Layout
.wrapper,
.wrapper-small {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.wrapper {
  max-width: $wrapper;

  @include breakpoint(large) {
    max-width: $wrapper-large;
  }
}

.wrapper-small {
  max-width: $wrapper-small;
}

.main-content {
  position: relative;
}

// Projects
.projects-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 80px;

  .project-card {
    flex: 0 1 31%;
    margin-bottom: 40px;
  }

  &::after {
    content: '';
    flex: 0 1 31%;
    margin-bottom: 40px;
  }
}
