.header {
	display: flex;
	align-items: center;
	height: 64px;
	padding: 0 30px 0 30px;
	background-color: $carolina;
	color: $white;
	box-shadow: $shadow-small;

	&__logo {
		display: flex;
		align-items: center;
		margin-right: auto;
		padding-top: 5px;

		img {
			display: block;
			height: 60px;
			width: 60px;
			margin-right: 10px;
			transition: transform .4s;
		}
	}

	&__dns {
		margin-left: 60px;
	}

	&__docker {
		margin-left: 15px;
	}
}
