.cards {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.card {
  border: 1px solid black;
  margin: 15px;
}

.card h2 {
  margin: 0;
  padding: 5px 10px;
  background-color: lime;
}

.card ul {
  padding: 20px 0;
  list-style-type: none;
}

.card ul li a {
  display: block;
  margin: 5px;
  padding: 3px;
  text-decoration: none;
}

.card ul li a:hover {
  text-decoration: underline;
}
