.certif-popin {
	display: flex;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	transition: opacity .25s;
	opacity: 0;
	background-color: $athens-opacity-90;
	pointer-events: none;

	&__container {

	}

	&.is-active {
		opacity: 1;
		pointer-events: all;
	}
}